*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

header
{
    background-color: rgb(29, 22, 43);
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 200px;
    padding: 0% 10% 0 10%;

}

header img
{
    width: 200px;
    padding: 20px;
}

.sobre
{
    padding: 20% 0 20% 0;
    text-align: center;

}
.sobre a
{
    display: inline;
    margin: 0 11px 0 11px;
    font-weight: bold;
    color: #FBDC51;
    font-size: 20px;
    text-shadow: 4px 4px 18px black;
}

body
{
    background-image: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0));
}

footer
{
    background-color: rgb(29, 22, 43);
    padding: 40px;
    text-align: center;
}

.frentefundo 
{
    position: relative;
}

.videoarquivo
{
    width: 100%;
    padding: 3% 20% 3% 20%;
    background-image: url(./images/fundo.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
    box-shadow: 1px 1px 40px black;
}


.eps
{
    padding: 2% 22% 2% 22%;
}

.eps h2
{
    font-size: 22px;
    color: #FBDC51;
    text-shadow: 4px 4px 18px black;
}
.eps p
{
    font-size: 17px;
    margin-bottom: 20px;
}
.eps h1
{
    color: #FBDC51;
    font-size: 35px;
    padding-bottom: 45px;
}

.episodio
{
    background-color: rgb(50, 40, 75);
    padding: 2% 10% 2% 10%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 20px black;
    border-radius: 30px;
}

.episodio .audio
{
    display: flex;
    background-color: rgb(93, 70, 138);
    box-shadow: 5px 5px 20px black;
    margin: 3% 0 3% 0;
    border-radius: 15px;
    transition: all 1.1s;
}

.audio:hover
{
    transform: scale(1.1);
}

.audio p
{
    padding: 3% 0 3% 25px;
}

.episodio img
{
    width: 120px;
    height: 120px;
    margin: 10px 0 10px 10px;
    border-radius: 15px;
    filter: opacity(70%);
}

.audio audio
{
    margin-top: 40px;
    width: 100%;
    margin-right: 35px;
    margin-left: 35px;
}