*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

header
{
    background-color: rgb(29, 22, 43);
}

header img
{
    width: 220px;
    height: 190px;
}
.imagem
{
    text-align: center;
}

body
{
    background-image: linear-gradient(rgb(51, 51, 51), rgb(0, 0, 0));
}

footer
{
    background-color: rgb(29, 22, 43);
    padding: 40px;
    text-align: center;
}

.frentefundo p
{

    text-align: center;
    z-index: 1;
}

.fundovideo
{
    padding: 12% 10% 12% 10%;
    background-image: url(./images/fundo.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
    filter: blur(5px);
    z-index: -1;
}

.eps
{
    padding: 2% 22% 2% 22%;
}

.eps h2
{
    font-size: 22px;
}
.eps p
{
    font-size: 17px;
    margin-bottom: 20px;
}
.eps h1
{
    color: #FBDC51;
    font-size: 35px;
    padding-bottom: 45px;
}

.episodio
{
    background-color: rgb(51, 43, 68);
    padding: 2% 10% 2% 10%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 20px black;
    border-radius: 30px;
}

.episodio .audio
{
    display: flex;
    background-color: rgb(108, 95, 133);
    box-shadow: 5px 5px 20px black;
    margin: 3% 0 3% 0;
    border-radius: 15px;
    transition: all 1.1s;
}

.audio:hover
{
    transform: scale(1.1);
}

.audio p
{
    padding: 3% 0 3% 25px;
}

.episodio img
{
    width: 120px;
    height: 120px;
    margin: 10px 0 10px 10px;
    border-radius: 15px;
}

.audio audio
{
    margin-top: 40px;
    width: 100%;
    margin-right: 35px;
    margin-left: 35px;
}