*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none;
}

html
{
    font-size: 18px;
    overflow-x: hidden;
}
body
{
    /*rgb(41, 41, 41)*/
    background-image:linear-gradient(rgb(41, 41, 41), rgb(7, 128, 43));
    color: aliceblue;
}
.topo
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    padding: 3% 10% 3% 10%;
    /*background-color: rgb(19, 19, 19, 0.6);*/
    background-color: rgba(19, 19, 19, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    font-size: 22px;
    color: aliceblue;
    cursor: pointer;
    transition: 0.1s;
    font-style: italic;
}
.logo:hover
{
    color: rgb(127, 255, 165);
}
.navbar a
{
    font-size: 23px;
    color: aliceblue;
    margin-left: 28px;
    font-weight: bold;
    transition: 0.3s;
    border-bottom: 3px solid transparent;

}
.navbar a:hover,
.navbar a:active
{
    color: rgb(127, 255, 165);
    border-bottom: 2px solid rgb(127, 255, 165);
}

section
{
    min-height: 80vh;
    padding: 7% 9%;
}
.sobre
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.sobretexto
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.sobretexto h2
{
    color: rgb(127, 255, 165);
    margin-top: 5%;
    margin-bottom: 30px;
    font-size: 50px;
    text-shadow: 0 0 20px black;
}
.sobretexto p
{
    margin-bottom: 15px;
}

.sobreimagem
{
    border-radius: 50%;
}
.sobreimagem img
{
    position: relative;
    top: 3rem;
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(127, 255, 165);
    transition: 0.3s;
}
.sobreimagem img:hover
{
    box-shadow: 0 0 30px rgb(127, 255, 165);
}

/*----------------------------------------------------------------------------------------------------*/
.meusconhecimentos
{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(127, 255, 165);
    font-style: italic;
    /*background-color: #212121;*/
    background: linear-gradient(to right, rgb(15, 15, 15), #212121, rgb(15, 15, 15));
}
.meusconhecimentos p
{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 20px black;
}

.linguagens
{
    background: linear-gradient(to right, rgb(15, 15, 15), #212121, rgb(15, 15, 15));
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
.linguagens img
{
    height: 90px;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 20px black);
}
.linguagens img:hover
{
    transform: scale(1.2);
}

/*----------------------------------------------------------------------------------------------------*/

.atividades
{
    background-image:linear-gradient(#24382A, rgb(27, 27, 27));
    padding-top: 50px;

}
.atividades h2
{
    font-size: 50px;
    padding: 40px;
    text-align: center;
    color: rgb(127, 255, 165);
    border-radius: 55px;
    font-style: italic;
    
}

.tituloatividades
{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;

    border-radius: 55px;
    margin-bottom: 25px;
    background-color: #212121;
    box-shadow: 0px 5px 10px black;
}
.tituloatividades img
{
    filter: drop-shadow(0 0 30px black);
}
/*----------------------------------------------------------------------------------------------------*/

.atividades-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
}
.atividade-box
{
    background-color: rgb(127, 255, 165);
    height: 250px;
    border-radius: 55px;
    transition: 0.3s;

}
.atividade-box:hover
{
    transform: scale(1.1);
}

.atividade-box
{
   text-decoration: none;
   color: #222222;
   font-size: 18px;

   display: flex;
   flex-direction: column;
   text-align: center;

   max-height: 250px;

   justify-content: center;
   align-items: center;

    padding: 15px;
}
.atividade-box p
{
    margin-top: 18px;
    color: #111;
}


footer
{
    width: 100%;
    background-image:linear-gradient(#292A29, #000000);
}

.icones
{
    display: flex;
    justify-content: center;
}

.contato
{
    text-align: center;
    padding: 15px;
    color: rgb(127, 255, 165);
}
.contato h2
{
    font-size: 50px;
    text-shadow: 0 0 20px black;
    padding-top: 2%;
}

.icones
{
    padding: 50px;
}

.icones a
{
    text-decoration: none;
    padding: 30px;
    background-color: aliceblue;
    margin: 30px;
    border-radius: 50%;
    transition: 0.3s;
}
.icones a i
{
    font-size: 50px;
    color: #111;
    transition: 0.3s;
}

.icones a:hover
{
    transform: scale(0.9);
    box-shadow: 0px 0px 15px #7FFFA5;
}

.icones a i:hover
{
    transform: scale(1.2);
    color: #3cca67;
}

.final
{
    background-color: #000000;
    text-align: center;
    padding: 60px;
    color: #808080;
}

.desc
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    gap: 10px;
    margin-bottom: 5%;

}

.box-style{
    border-radius: 35px;
    font-weight: bold;
    box-shadow: 3px 3px 20px black;
    color: white;
    padding: 15px;
}

.box-style h3{
    padding: 5px 90px;
    border-radius: 35px;
    font-style: italic;
    font-size: 25px;
}

.box-style p{
    color: white;
}

.HTML
{
    background-image:linear-gradient(#ff6727, #803b1d);
}
.HTML h3
{
    color: white;
    background-color: #ff6c2c;
}

.JS
{
    background-image:linear-gradient(#F7E018, #796f1c);
}
.JS h3
{
    color: #9b9350;
    background-color: #eee591;
}

.ALL
{
    background-image:linear-gradient(#3d1491, #230068);
}
.ALL h3
{
    background-color: #553496;
}


/*-------------------------PROJETOS---------------------------------------------------------------------------*/

.outros-projetos
{
    background-image:linear-gradient(#233729, #292929);
    padding-top: 50px;

}

.tituloprojetos
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    border-radius: 55px;
    margin-bottom: 45px;
    background-color: #212121;
    box-shadow: 0px 10px 25px black;
}

.tituloprojetos h2
{
    font-size: 60px;
    font-style: italic;
    padding: 40px;
    text-align: center;
    color: rgb(183, 212, 255);
    border-radius: 55px;
    
}

.projetos-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
}
.projeto-box
{
    height: 250px;
    border-radius: 55px;
    transition: 0.3s;

}
.projeto-box:hover
{
    transform: scale(1.1);
}

.projeto-box
{
   text-decoration: none;
   font-size: 18px;

   display: flex;
   flex-direction: column;
   text-align: center;

   max-height: 250px;

   justify-content: center;
   align-items: center;

    padding: 15px;
}
.projeto-box p
{
    margin-top: 18px;
    color: #111;
}

.project
{
    background-image:linear-gradient(rgb(60, 138, 255), rgb(44, 101, 185));
    border-radius: 35px;
    font-weight: bold;
}

.project h3
{
    font-size: 25px;
    color: #cdd9ff;
    font-style: italic;
    background-color: rgb(44, 101, 185);
    padding: 5px 90px;
    border-radius: 35px; 
}
.project p
{
    color: white;
}

/*-------------------------*/

/*---------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1100px) {
    

html
{
    font-size: 18px;
    overflow-x: hidden;
}
body
{
    background-color: rgb(41, 41, 41);
    color: aliceblue;
}
.topo
{
    max-width: 100%;
    height: 150px;
    padding: 15% 15% 10% 15%;
    background-color: rgb(19, 19, 19, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    flex-direction: column;
}
.logo
{
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 15px;
}
.logo:hover
{
    transform: scale(1.1);
    color: rgb(127, 255, 165);
}
.navbar
{
    display: flex;
}

.navbar a
{
    font-size: 17px;
    color: aliceblue;
    font-weight: bold;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    margin: 0 auto;
    padding: 10px;

}
.navbar a:hover,
.navbar a:active
{
    color: rgb(127, 255, 165);
    border-bottom: 3px solid rgb(127, 255, 165);
}

.sobre
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobretexto
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sobretexto h2
{
    color: rgb(127, 255, 165);
    margin-bottom: 30px;
    font-size: 50px;
    text-shadow: 0 0 20px black;
}
.sobretexto p
{
    margin-bottom: 15px;
}

.sobreimagem
{
    border-radius: 50%;
    text-align: center;
}
.sobreimagem img
{
    width: 70%;
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(127, 255, 165);
    cursor: pointer;
    transition: 0.3s;
    margin-top: 100px;
    margin-bottom: -100px;
}
.sobreimagem img:hover
{
    box-shadow: 0 0 50px rgb(127, 255, 165);
}

/*----------------------------------------------------------------------------------------------------*/
.meusconhecimentos
{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(127, 255, 165);
    background-color: #212121;
}
.meusconhecimentos p
{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 20px black;
}

.linguagens
{
    background-color: #222222;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;

}
.linguagens img
{
    height: 80px;
    transition: 0.3s;
    filter: drop-shadow(0 0 50px black);

    margin: 0 auto;

}
.linguagens img:hover
{
    transform: scale(1.3);
}

/*----------------------------------------------------------------------------------------------------*/

.atividades
{
    background-color: rgb(39, 53, 48);
    padding-top: 50px;

}
.atividades h2
{
    font-size: 30px;
    padding: 5% 10% 50px 10%;
    text-align: center;
    color: #7FFFD4;
    text-shadow: 0 0 20px black;
}
.atividades-container
{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

}
.atividade-box
{
    background-color: rgb(127, 255, 165);
    height: 250px;
    border-radius: 55px;
    transition: 0.3s;

}
.atividade-box h3
{   
    padding: 15px !important;
    font-size: 22px !important;
    width: 100%;
}
.atividade-box:hover
{
    transform: scale(1.1);
}

.atividade-box
{
   text-decoration: none;
   color: #222222;
   font-size: 16px;
   display: flex;
   flex-direction: column;
   text-align: center;
   max-height: 250px;
   justify-content: center;
   align-items: center;
   padding: 25px;
}

.atividade-box p
{
    margin-top: 18px;
    color: #111;
}


footer
{
    width: 100%;
}

.icones
{
    display: flex;
    justify-content: center;
}

.contato
{
    text-align: center;
    padding: 15px;
    color: rgb(127, 255, 165);
}
.contato h2
{
    font-size: 30px;
    text-shadow: 0 0 20px black;
    padding-top: 2%;
}

.icones
{
    padding: 50px;
}

.icones a
{
    text-decoration: none;
    padding: 20px;
    background-color: aliceblue;
    margin: 20px;
    border-radius: 50%;
}
.icones a i
{
    font-size: 40px;
    color: #111;
}

.final
{
    background-color: #111;
    text-align: center;
    padding: 60px;
    color: #808080;
}

.tituloatividades
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    border-radius: 55px;
    margin-bottom: 25px;
    background-color: #424242;

    gap: 0px;
}
.tituloatividades img
{
    display: none;
}
.tituloatividades h2
{
    font-size: 25px;
    padding: 25px;
    margin: 0px;
}

.desc
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    gap: 10px;
    margin-bottom: 10%;
    font-size: 15px;
}

.box-style{
    border-radius: 35px;
    font-weight: bold;
    box-shadow: 3px 3px 20px black;
    color: white;
    padding: 15px;
}

.box-style h3{
    padding: 5px 90px;
    border-radius: 35px;
    font-style: italic;
    font-size: 25px;
}

.box-style p{
    color: white;
}

.HTML
{
    background-image:linear-gradient(#ff6727, #803b1d);
}
.HTML h3
{
    color: white;
    background-color: #ff6c2c;
}

.JS
{
    background-image:linear-gradient(#F7E018, #796f1c);
}
.JS h3
{
    color: #9b9350;
    background-color: #eee591;
}

.ALL
{
    background-image:linear-gradient(#3d1491, #230068);
}
.ALL h3
{
    background-color: #553496;
}

/*-------------------------PROJETOS---------------------------------------------------------------------------*/

.outros-projetos
{
    background-color: #292929;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.tituloprojetos
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    border-radius: 55px;
    margin-bottom: 25px;
    background-color: #424242;
}

.tituloprojetos h2
{
    font-size: 25px;
    padding: 40px;
    text-align: center;
    color: rgb(183, 212, 255);
    border-radius: 55px;
    
}

.projetos-container
{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 50px;
}
.projeto-box
{
    height: 250px;
    border-radius: 55px;
    transition: 0.3s;

}
.projeto-box:hover
{
    transform: scale(1.1);
}

.projeto-box
{
   text-decoration: none;
   color: #222222;
   font-size: 16px;

   display: flex;
   flex-direction: column;
   text-align: center;

   max-height: 250px;

   justify-content: center;
   align-items: center;

    padding: 15px;
}
.projeto-box p
{
    margin-top: 18px;
    color: #111;
}

.project
{
    background-image:linear-gradient(rgb(60, 138, 255), rgb(44, 101, 185));
    border-radius: 35px;
    font-weight: bold;
}

.project h3
{
    font-size: 20px;
    color: #cdd9ff;
    font-style: italic;
    background-color: rgb(44, 101, 185);
    padding: 5px 30px;
    border-radius: 35px; 
}
.project p
{
    color: white;
}

/*----------------------------------------------------------------------------------------------------*/



}
