*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 22px;
}

body
{
    overflow-x: hidden;
}

.back-video{
    position: absolute;
    top: -180px;
    width: 100%;
    z-index: -1;
    overflow: hidden;

}

section{
    height: 60vh; 
    background-color: red;
    filter: blur(5px);
}

.p2
{
    font-style: italic;
}

/*---------------------------------------------------------------*/

.apresentacao
{
    background-color: #972a2a;
    padding: 2% 10% 5% 10%;
}
.apresentacao img
{
    margin-top: -350px;
    width: 900px;
    position: absolute;

}
.apresentacao p
{
    color: white;
    padding: 5px;
    text-align: center;

}
.apresentacao h1
{
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 30px;
}

p
{
    color: white;
    text-shadow: black 3px 3px 20px;
}

/*---------------------------------------------------------------*/

.zag{
    background-color: #661111;
    padding: 5% 10% 5% 10%;
    display: flex;
}

.zag p
{
    margin-top: 20px;
    color: white;
    margin-right: 30px;
    margin-top: 130px;
}

.zag img
{
    height: 850px;
    position: relative;
    margin-top: -200px;
    margin-bottom: -250px;
    filter: drop-shadow(10px 10px 10px black);
}

.zag h2
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    position: absolute;
    text-align: center;
    margin-top: -10px;
    color: red;
    text-shadow: black 3px 3px 3px;
}

/*---------------------------------------------------------------*/

.intro
{
    background-image: url(./images/hadeshead.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5% 10% 5% 10%;

}
.intro h1{
    text-align: center;
    font-size: 90px;
    color: #ffffff;
    -webkit-text-stroke: 4px #972A2A;
    text-shadow: black 3px 3px 20px;
}

/*---------------------------------------------------------------*/

.mapas
{
    background-color: #42c964;
}

.mapas h2
{
    text-align: center;
    font-size: 50px;
    padding: 45px;
    color: #ffffff;
    text-shadow: black 3px 3px 20px;
    font-family: 'Times New Roman', Times, serif;
}
.mapas p
{
    padding: 0 10% 3% 10%;
    color: white;
    text-align: center;
}

.mapas img
{
    width: 100%;
    margin-bottom: 40px;
    padding: 0 10% 0 10%;
    filter: drop-shadow(0px 0px 10px black);
}

.casadehades
{
    background-color: #330808;
}
.casadehades img
{
    padding: 0% 20% 0% 20%;
    transition: all 1.1s;
}

.tartarus
{
    background-color: #18571d;
}
.tartarus img
{
    padding: 0% 20% 0% 20%;
    transition: all 1.1s;
}

.asphodel
{
    background-color: #972a2a;
}
.asphodel img
{
    padding: 0% 20% 0% 20%;
    transition: all 1.1s;
}

.elysium
{
    background-color: #2b8588;
}
.elysium img
{
    padding: 0% 20% 0% 20%;
    transition: all 1.1s;
}

.styx
{
    background-color: #382c63;
}
.styx img
{
    padding: 0% 20% 0% 20%;
    transition: all 1.1s;
}

.casadehades img:hover
{
    transform: scale(1.1);
}
.tartarus img:hover
{
    transform: scale(1.1);
}
.asphodel img:hover
{
    transform: scale(1.1);
}
.elysium img:hover
{
    transform: scale(1.1);
}
.styx img:hover
{
    transform: scale(1.1);
}

.flutua
{
    transition: all 1.1s;
}
.flutua:hover
{
    transform: scale(1.1);
}

/*---------------------------------------------------------------*/

.deuses
{
    background-image: url(./images/logodeuses.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5% 10% 5% 10%;
    color: white;
    text-shadow: black 3px 3px 20px;
    z-index: 0;
}

.deuses h1
{
    text-align: center;
    font-size: 70px;
    color: #ff0000;
    -webkit-text-stroke: 4px #660000;
    text-shadow: black 3px 3px 20px;
}

.fundo
{
    margin-top: -150px;
    width: 100%;
    height: 200px;
    background-color: black;
    z-index: -1;
    margin-left: -15px;
    filter: blur(50px);
}

/*---------------------------------------------------------------*/

.zeus-titulo
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: #ffe96f;
    color: rgb(161, 150, 42);
}

.zeus{

    background-color: #DACD4F;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.zeus img
{
    width: 50%;
    margin-top: -150px;
}

.zeus p
{
    text-align: center;
    padding-top: 130px;
    padding-right: 100px;
}

/*---*/

.poseidon-titulo
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: -800px;
    padding: 10px;
    font-size: 82px;
    background-color: #33c997;
    color: #12251C;
}

.poseidon{

    background-color: #29BB9A;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.poseidon img
{
    width: 70%;
    margin-top: -150px;
    margin-right: -280px;
}

.poseidon p
{
    text-align: center;
    padding-top: 130px;
    padding-left: 100px;
}

/*---*/
.atena-titulo
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: #445bc0;
    color: #FDFBB1;
}

.athena{

    background-color: #5b73d4;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.athena img
{
    width: 50%;
    margin-top: -150px;
    margin-left: 80px;
}

.athena p
{
    text-align: center;
    padding-top: 160px;
    padding-right: 100px;
}

/*---*/

.artemis-titulo
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-left: -500px;
    font-size: 82px;
    background-color: #4F965A;
    color: #E3FABE;
}

.artemis{

    background-color: #53be53;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.artemis img
{
    width: 50%;
    margin-top: -200px;
    margin-left: 100px;
    margin-right: -80px;
}

.artemis p
{
    text-align: center;
    padding-top: 100px;
    padding-left: 100px;
}

/*---*/
.afrodite-titulo
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: rgb(223, 121, 214);
    color: #ad3790;
}

.afrodite{

    background-color: rgb(189, 108, 182);
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.afrodite img
{
    width: 50%;
    margin-top: -150px;
    margin-left: 30px;
    margin-right: 30px;
}

.afrodite p
{
    text-align: center;
    padding-top: 160px;
    padding-right: 100px;
}
/*---*/
.ares-titulo
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-left: -500px;
    font-size: 82px;
    background-color: #a81d1d;
    color: #490707;
}

.ares{

    background-color: rgb(196, 33, 33);
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.ares img
{
    width: 50%;
    margin-top: -150px;
    margin-right: -120px;
    margin-left: 25px;
}

.ares p
{
    text-align: center;
    padding-top: 160px;
    padding-left: 100px;
}

/*---*/
.dionisio-titulo
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: #981da8;
    color: #fa96e1;
}

.dionisio{

    background-color: #672880;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.dionisio img
{
    width: 50%;
    margin-top: -150px;
}

.dionisio p
{
    text-align: center;
    padding-top: 160px;
    padding-right: 100px;
}
/*---*/
.hermes-titulo
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-left: -500px;
    font-size: 82px;
    background-color: #d34821;
    color: #ffbf6a;
}

.hermes{

    background-color: #FA5E34;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.hermes img
{
    width: 50%;
    margin-top: -150px;
    margin-right: -210px;
}

.hermes p
{
    text-align: center;
    padding-top: 160px;
    padding-left: 100px;
}

/*---*/
.demeter-titulo
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: #87b8c9;
    color: #b9ffff;
}

.demeter{

    background-color: #689daf;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.demeter img
{
    width: 50%;
    margin-top: -150px;
    margin-right: 55px;
}

.demeter p
{
    text-align: center;
    padding-top: 130px;
    padding-right: 100px;
}

/*---------------------------------------------------------------*/

.inimigos
{
    background-image: url(./images/enemys.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5% 10% 5% 10%;
    text-align: center;
}
.inimigos h1
{
    font-size: 80px;
    color: #ff0000;
    -webkit-text-stroke: 4px #660000;
    text-shadow: black 3px 3px 20px;
}
/*---*/

.titulo-megaera
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: #142652;
    color: #FC31D0;
}

.megaera{

    background-color: #2E58B7;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.megaera img
{
    width: 50%;
    margin-top: -180px;
    margin-right: 55px;
}

.megaera p
{
    text-align: center;
    padding-top: 160px;
    padding-right: 100px;
}

/*---*/

.titulo-alecto
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-left: -500px;
    font-size: 82px;
    background-color: #712121;
    color: #74CE46;
}

.alecto{

    background-color: #F02724;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.alecto img
{
    width: 50%;
    margin-top: -180px;
}

.alecto p
{
    text-align: center;
    padding-top: 160px;
    padding-left: 100px;
}

/*---*/

.titulo-tisifone
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    margin-right: -500px;
    background-color: #6c7a2a;
    color: #F4FE6C;
}

.tisifone{

    background-color: #8C9F39;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.tisifone img
{
    width: 50%;
    margin-top: -180px;
    margin-right: 55px;
}

.tisifone p
{
    text-align: center;
    padding-top: 130px;
    padding-right: 100px;
    margin-left: -150px;
    margin-right: 100px;
}

/*---*/

.titulo-thanatos
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-left: -500px;
    font-size: 82px;
    background-color: #1B1A1F;
    color: #AC67C2;
}

.thanatos{

    background-color: #3D4046;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.thanatos img
{
    width: 50%;
    margin-top: -180px;
}

.thanatos p
{
    text-align: center;
    padding-top: 160px;
    padding-left: 100px;
}

/*---*/

.titulo-teseu
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: #589ee9;
    color: #ffeb93;
}

.theseus{

    background-color: #2A78CB;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.theseus img
{
    width: 50%;
    margin-top: -180px;
    margin-right: 55px;
}

.theseus p
{
    text-align: center;
    padding-top: 160px;
    padding-right: 100px;
}

/*---*/

.titulo-asterius
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-left: -500px;
    font-size: 82px;
    background-color: #78A1A1;
    color: #db357d;
}

.asterius{

    background-color: #4E6564;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.asterius img
{
    width: 50%;
    margin-top: -180px;
    margin-right: -150px;
}

.asterius p
{
    text-align: center;
    padding-top: 160px;
    padding-left: 100px;
    padding-right: 50px;
}

/*---*/

.titulo-hades
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: #640100;
    color: #FFD509;
}

.hades{

    background-color: #B20001;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.hades img
{
    width: 50%;
    margin-top: -250px;
    margin-right: 55px;
}

.hades p
{
    text-align: center;
    padding-top: 130px;
    padding-right: 100px;
}

/*---------------------------------------------------------------*/

.amigos
{
    background-image: url(./images/amigos.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5% 10% 5% 10%;
    text-align: center;
}
.amigos h1
{
    font-size: 90px;
    color: #ff0000;
    -webkit-text-stroke: 4px #660000;
    text-shadow: black 3px 3px 20px;
}

/*---*/

.titulo-nix
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: rgb(55, 44, 82);
    color: #f0f198;
}

.nix{

    background-color: #5B3392;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.nix img
{
    width: 50%;
    margin-top: -150px;
    margin-right: 55px;
}

.nix p
{
    text-align: center;
    padding-top: 160px;
    padding-right: 100px;
}

/*---*/

.titulo-caronte
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-left: -500px;
    font-size: 82px;
    background-color: #2e2a27;
    color: #A3A5FF;
}

.caronte{

    background-color: #151312;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.caronte img
{
    width: 50%;
    margin-top: -250px;
    margin-right: 150px;
}

.caronte p
{
    text-align: center;
    padding-top: 160px;
    padding-left: 100px;
}

/*---*/

.titulo-aquiles
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: #527155;
    color: #CEC99C;
}

.aquiles{

    background-color: #7CAA7A;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.aquiles img
{
    width: 50%;
    margin-top: -250px;
    margin-right: 55px;
}

.aquiles p
{
    text-align: center;
    padding-top: 160px;
    padding-right: 100px;
}

/*---*/

.titulo-cerberus
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-left: -500px;
    font-size: 82px;
    background-color: #761713;
    color: #D6FF00;
}

.cerberus{

    background-color: #DF1409;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.cerberus img
{
    width: 50%;
    margin-top: -150px;
}

.cerberus p
{
    text-align: center;
    padding-top: 230px;
    padding-left: 100px;
}

/*---*/

.titulo-skelly
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-size: 82px;
    background-color: #517D85;
    color: #ffd8d8;
}

.skelly{

    background-color: #4EAAA2;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 600px;
}

.skelly img
{
    width: 50%;
    margin-top: -150px;
    margin-right: 55px;
}

.skelly p
{
    text-align: center;
    padding-top: 160px;
    padding-right: 100px;
}

/*---------------------------------------------------------------*/
.armas-titulo
{
    background-image: url(./images/armasfundo.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2% 10% 2% 10%;
    text-align: center;
}
.armas-titulo h1
{
    top: 50px;
    height: 200px;
    font-size: 110px;
    text-align: center;
    color: #ff0000;
    -webkit-text-stroke: 4px #660000;
    text-shadow: black 3px 3px 20px;
    z-index: 2;
}

.fundo2
{
    margin-top: -150px;
    width: 100%;
    height: 200px;
    background-color: black;
    z-index: 1;
    margin-left: -15px;
    filter: blur(80px);
}

.armas
{
    background-color: #120c29;
    padding: 0% 10% 5% 10%;
}

.armas img
{
    width: 100%;
    text-align: center;
    padding: 3% 13% 3% 13%;
    transition: all 1.1s;
}

.armas h2
{
    color: gold;
    text-align: center;
    padding-top: 25px;
}

.armas p
{
    text-align: center;
    font-size: 19px;
}

.armas img:hover
{
    transform: scale(1.1);
}

/*---------------------------------------------------------------*/

.titulo-sobreojogo
{
    background-image: url(./images/sobre.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2% 10% 2% 10%;
    text-align: center;
}
.titulo-sobreojogo h1
{
    top: 50px;
    height: 200px;
    font-size: 110px;
    text-align: center;
    color: #ff0000;
    -webkit-text-stroke: 4px #660000;
    text-shadow: black 3px 3px 20px;
    z-index: 2;
}
.fundo3
{
    margin-top: -150px;
    width: 100%;
    height: 200px;
    background-color: black;
    z-index: 1;
    margin-left: -15px;
    filter: blur(80px);
}

.sobreojogo
{
    background-color: #0C0904;
    padding: 3% 18% 5% 18%;
}
.sobreojogo p
{
    text-align: center;
}
.sobreojogo ul
{
    margin-top: 25px;
    color: white;
}
.sobreojogo li
{
    margin-bottom: 15px;
}
.sobreojogo img
{
    width: 100%;
    padding: 3% 10% 2% 10%;
    transition: all 1.1s;
}

.sobreojogo img:hover
{
    transform: scale(1.1);
}

/*---------------------------------------------------------------*/

.plataformas
{
    background-image: url(./images/plataforma.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2% 10% 2% 10%;
    text-align: center;
    height: 400px;
}

.plataformas h2
{
    color: white;
    text-shadow: black 3px 3px 20px;
    font-size: 35px;
    margin-top: 55px;
    margin-bottom: 25px;
    z-index: 1;
}

.plataformas a
{
    color: rgb(255, 255, 255);
    text-shadow: black 3px 3px 20px;
    padding: 15px;
    z-index: 1;
}

.fundo4
{
    margin-top: -250px;
    width: 100%;
    height: 200px;
    background-color: black;
    z-index: 0;
    margin-left: -15px;
    filter: blur(80px);
}

footer
{
    background-color: #1a0b0b;
    padding: 5% 10% 5% 10%;
    margin-bottom: -5%;
}
footer a
{
    color: wheat;
}
footer p
{
    color: #b1b1b1;
    font-size: 19px
}


